# Dependencies
node_modules/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.swp
*.swo

# Temporary files
tmp/
temp/

# Build files
dist/
build/

# Unrelated projects
perfume-store/
node-install.msi
wa_optimizer1.py
